<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>gitPub</title>
</head>
<body>
    <h1>At foo bar</h1>
    <%
    const foodName = allFood.name;
    const foodImage = allFood.image;
    const foodPrice = allFood.price;
    %>
    <h2><%= foodName %></h2>
<img src="<%= foodImage%>">
<h3>$<%= foodPrice %></h3>
<a href="javascript:history.back()">Back</a>
</body>
</html>